.whats-up__wrapper {
  //height: 100vh;
}

.for-steps__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;

  .for-steps__title {
    font-size: 2.375rem;
    line-height: 55px;
    margin-top: 35px;
    margin-bottom: 30px;
  }

  .for-steps__decoration {
    margin-bottom: 35px;
  }
}

