.statistics-panel {
  background: $color-yellow;
  display: flex;
  justify-content: space-around;


}

// STATISTIC CARD//


.statistics-card {
  display: flex;
  width: 334px;
  height: 252px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 45px 0 45px 0;

  .statistics-card__number {
    font-size: 5.625rem;
    font-weight: 300;

    color: $color_brown;
  }

  .statistics-card__title {
    font-size: 1.125rem;

    color: $color_dark;
    text-transform: uppercase;
  }

  .statistics-card__description {
    font-family: $font-alt;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
  }

}